*.exe
*.bin
*.a
*.dll
*.pdb
*.mdb
*.obj
*.o
*.xsd
*.cache
*.cmake
*.zip
*.log
*.stackdump
*.manifest
*.suo

Makefile
CMakeCache.txt
/config.h
/src/sdl-config
/blobby2mono/BlobbyBotloader.userprefs
CMakeFiles/
libs/
bin/